name : second workflow
on : 
  push:
    branches:
      - "master"

env:
  TESTING_PACKAGE: 'UnitTesting'

jobs:

    test:
      runs-on: ubuntu-22.04
      env:
        USER_GIT: 'amirhosien'
      steps:
        - name : 'get the code'
          uses : actions/checkout@v3
        
        - name : install python 
          uses : actions/setup-python@v3
          with :
            python-version: '3.11'
            cache : 'pip'
        - name : install dependencies 
          run  : pip install -r requirments.txt
        
        - name : run the test
          run  : python3 -m unittest tests/test_env.py
        
        - name : upload artifacts
          uses : actions/upload-artifact@v3
          with : 
            name: artifacats-log
            path: logs


    deploy:   
      runs-on: ubuntu-22.04
      needs : [test]
      steps:
        - name : deploy
          run  : echo  "Deploying ....."

        - name : got information 
          run  : | 
           echo "${{ env.TESTING_PACKAGE }}"
        - name : got information 2
          run : |  
            echo " $TESTING_PACKAGE "
